<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.fes.dao.mappers.ClassMapper">
    <resultMap type="com.fes.dao.domain.ClassPO" id="classResult">
        <result column="id" property="id"/>
        <result column="course_id" property="courseId"/>
        <result column="course_name" property="courseName"/>
        <result column="class_item_ids" property="classItemIds"/>
        <result column="tutor_id" property="tutorId"/>
        <result column="tutor_name" property="tutorName"/>
        <result column="tutor_pic" property="tutorPic"/>
        <result column="tutor_desc" property="tutorDesc"/>
        <result column="class_addr" property="classAddr"/>
        <result column="class_start_time" property="classStartTime"/>
        <result column="class_time_table" property="classTimeTable"/>
        <result column="price" property="price"/>
        <result column="registered_students_num" property="registeredNum"/>
        <result column="registered_students" property="registeredStudents"/>
        <result column="contact_detail" property="contactDetail"/>

    </resultMap>

    <sql id="baseColumns">
        id,course_id,class_item_ids,tutor_id,tutor_name,tutor_desc,class_addr,class_start_time,class_time_table,
        price,registered_students_num,registered_students,contact_detail,tutor_pic,course_name
    </sql>

    <insert id="createClass" parameterType="com.fes.dao.domain.ClassPO">
        INSERT INTO class (course_id,class_item_ids,tutor_id,tutor_name,tutor_desc,class_addr,class_start_time,
        class_time_table,price,registered_students_num,registered_students,contact_detail,tutor_pic,course_name)
        VALUES(#{courseId},#{classItemIds},#{tutorId},#{tutorName},#{tutorDesc},#{classAddr},#{classStartTime},
        #{classTimeTable},#{price},#{registeredNum},#{registeredStudents},#{contactDetail},#{tutorPic},#{courseName})
    </insert>
    <select id="getAll" resultMap="classResult">
    		select
    		<include refid="baseColumns"/>
    		from class
    </select>

    <select id="getClassListByCourseId" resultMap="classResult" parameterType="int">
        select
        <include refid="baseColumns"/>
        from class where course_id=#{courseId}
    </select>
	
	<select id="getClassById" resultMap="classResult" parameterType="int">
        select
        <include refid="baseColumns"/>
        from class where id=#{id}
    </select>

    <select id="getClassByIds" resultMap="classResult">
        select
        <include refid="baseColumns"/>
        from class where id in
        <foreach collection="ids" separator="," close=")" item="item" open="(" index="index">
            #{item}
        </foreach>
    </select>
    
    <select id="getClassByDate" resultMap="classResult" parameterType="Date">
        select
        <include refid="baseColumns"/>
        from class where class_start_time=#{classStartTime}
    </select>
    
	<select id="filter" resultMap="classResult">
    		select
    		<include refid="baseColumns"/>
    		from class where 1=1
    		<if test="courseID!=0">
    			and course_id=#{courseID}
    		</if>
    		<if test="classAddr!=null">
    			and class_addr=#{classAddr}
    		</if>
    		<if test="classStartTime!=null">
    			and class_start_time=#{classStartTime}
    		</if>
		<![CDATA[ and price >=]]> #{minPrice}
		<if test="maxPrice!=0">
			<![CDATA[ and price <=]]> #{maxPrice} 
		</if>   			
    </select>

    <update id="updateTutorInfo" parameterType="com.fes.dao.domain.UserTrainer">
        update class set tutor_name = #{fullName}, tutor_pic = #{tutorPic}
        <if test="tutorDesc != null">
            ,tutor_desc = #{tutorDesc}
        </if>
        where tutor_id = #{id}
    </update>
    
  	<delete id="deleteClass">
  		delete from class where id=#{classId} and course_id=#{courseId}
  	</delete>
  	
  	<update id="modifyClass" parameterType="com.fes.dao.domain.ClassPO">
  		update class set class_item_ids=#{classItemIds}, class_addr=#{classAddr}, 
  		class_start_time=#{classStartTime}, class_time_table=#{classTimeTable}, 
  		price=#{price}, contact_detail=#{contactDetail}
  		where id=#{id} and course_id=#{courseId}
    </update>
</mapper>
