<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fes.dao.mappers.OrderMapper">
    <resultMap type="com.fes.dao.domain.Order" id="orderResult">
        <result column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="class_id" property="classId"/>
        <result column="tutor_id" property="tutorId"/>
        <result column="tutor_name" property="tutorName"/>
        <result column="order_num" property="orderNum"/>
        <result column="course_id" property="courseId"/>
        <result column="course_name" property="courseName"/>
        <result column="people_num" property="peopleNum"/>
        <result column="payment_status" property="paymentStatus"/>
        <result column="usertype" property="usertype"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="price" property="price"/>
    </resultMap>

    <sql id="baseColumns">
        id,username,class_id,order_num,course_id,course_name,people_num,payment_status,usertype,create_time,update_time,price,tutor_id,tutor_name
    </sql>

    <insert id="insert" parameterType="com.fes.dao.domain.Order">
        INSERT INTO order_list(username,class_id,order_num,course_id,course_name,people_num,payment_status,usertype,create_time,update_time,price,tutor_id,tutor_name)
        VALUES(#{username},#{classId},#{orderNum},#{courseId},#{courseName},#{peopleNum},#{paymentStatus},#{usertype},#{createTime},#{updateTime},#{price},#{tutorId},#{tutorName})
    </insert>

    <delete id="deleteOrderById" parameterType="int">
        delete
        from order_list where id=#{id}
    </delete>
    
    <select id="selectById" parameterType="int" resultMap="orderResult">
    		select
    		 <include refid="baseColumns"/>
        from order_list where id=#{id}
    </select>

    <select id="selectByUserNameAndUserType" resultMap="orderResult">
        select
        <include refid="baseColumns"/>
        from order_list where username=#{username} and usertype=#{usertype}
    </select>


    <select id="selectByOrderNum" parameterType="string" resultMap="orderResult">
        select
        <include refid="baseColumns"/>
        from order_list where order_num=#{orderNum}
    </select>
    
    <update id="updatePaymentStatus" parameterType="string">
        update order_list set payment_status = 1 where order_num=#{orderNum}
    </update>


</mapper>
