<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns="http://www.springframework.org/schema/beans"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context.xsd
						">
	<bean id="configConstant" class="com.fes.common.constants.EnvironmentConstant">
		<property name="appSecret" value="${app_secret}"/>
	</bean>

	<bean id="tokenManager" class="com.fes.common.util.TokenManager">
		<property name="stringRedisTemplate" ref="stringRedisTemplate"/>
	</bean>

	<bean id="mailService" class="com.fes.common.service.MailSendService"/>

	<bean id="mailCodeManager" class="com.fes.common.util.MailCodeManager"/>

	<bean id="mailConstants" class="com.fes.common.constants.MailConstants">
		<property name="sendSmtp" value="${mail.send.smtp}"/>
		<property name="sendMail" value="${mail.send.mail}"/>
		<property name="sendPort" value="${mail.send.port}"/>
		<property name="sendPassword" value="${mail.send.password}"/>
	</bean>

	<bean id="paypalService" class="com.fes.common.service.PaypalService"/>


</beans>
