<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/mvc
            http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
            ">

    <mvc:annotation-driven />
    <context:component-scan base-package="com.fes.web.controller"/>

    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/>
                <bean class="org.springframework.http.converter.xml.SourceHttpMessageConverter"/>
                <bean class="org.springframework.http.converter.FormHttpMessageConverter"/>
                <bean class="org.springframework.http.converter.StringHttpMessageConverter"/>
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
            </list>
        </property>
    </bean>

 <!--   <bean id="defaultExHandler" class="com.jiedaibao.loanmarket.web.exception.DefaultExceptionHandler"/>-->
    <!-- 异常处理 -->
 <!--   <bean id="exceptionResolver"
          class="com.jiedaibao.loanmarket.web.exception.ExceptionResolver">-->
        <!-- 定义默认的异常处理页面，当该异常类型的注册时使用 -->
  <!--      <property name="defaultErrorView" value="include/error_json" />
        <property name="exceptionAttribute" value="exception" />
        <property name="exceptionHandlerMap">
            <map>
                <entry key="default.html" value-ref="defaultExHandler" />
            </map>
        </property>
    </bean>
    -->

    <!-- App 登录拦截器-->
    <mvc:interceptors>


        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <!-- 测试start -->
            <!--<mvc:exclude-mapping path="/prodlist"/>-->
            <!--<mvc:exclude-mapping path="/proddetail"/>-->
            <!--<mvc:exclude-mapping path="/prodProtocol"/>-->
            <!--<mvc:exclude-mapping path="/myprodlist"/>-->
            <!--<mvc:exclude-mapping path="/loanapply" />-->
            <!--<mvc:exclude-mapping path="/loaninfo" />-->
            <!--<mvc:exclude-mapping path="/loanstatus" />-->
            <!-- 测试end -->
            <!-- <mvc:exclude-mapping path="/innerApi/**" /> -->
            <mvc:exclude-mapping path="/order/**"/>
            <bean class="com.fes.web.interceptor.AppLoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>


<!-- 视图解释类 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
        <!--可为空,方便实现自已的依据扩展名来选择视图解释类的逻辑 -->
        <property name="contentType" value="text/html;charset=UTF-8"/>
        <property name="cache" value="false"/>
    </bean>

</beans>
