/* Slider
http://www.freshdesignweb.com/free-beautiful-css3-table-style.html
*/
#fdw-pricing-table {
    margin:0 auto;
    text-align: center;
    width: 948px; /* total computed width */
    zoom: 1;
}

#fdw-pricing-table:before, #fdw-pricing-table:after {
    content: "";
    display: table
}

#fdw-pricing-table:after {
    clear: both
}

/* --------------- */

#fdw-pricing-table .plan {
    font: 13px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
    background: #fff;
    border: 1px solid #ddd;
    color: #333;
    padding: 20px;
    width:205px;
    height:630px;
    float: left;
    _display: inline; /* IE6 double margin fix */
    position: relative;
    margin: 0 5px;
    -moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
    box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
}

#fdw-pricing-table .plan:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 10px;
    right: 4px;
    width: 80%;
    top: 80%;
    -webkit-box-shadow: 0 12px 5px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 12px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 12px 5px rgba(0, 0, 0, .3);
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
}

#fdw-pricing-table .popular-plan {
    top: -20px;
    padding: 40px 20px;
    width:215px;
    height:680px;
}

#fdw-pricing-table .plan ul li img{
    width: 144px;
    height: 175px;
}


#fdw-pricing-table .popular-plan ul li img {
    width: 170px;
}

/* --------------- */

#fdw-pricing-table .header {
    position: relative;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 40px;
    margin: -20px -20px 20px -20px;
    border-bottom: 8px solid;
    background-color: #eee;
    background-image: -moz-linear-gradient(#fff,#eee);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(#fff, #eee);
    background-image: -o-linear-gradient(#fff, #eee);
    background-image: -ms-linear-gradient(#fff, #eee);
    background-image: linear-gradient(#fff, #eee);
}

#fdw-pricing-table .header:after {
    position: absolute;
    bottom: -8px; left: 0;
    height: 3px; width: 100%;
    content: '';
    background-image: url(images/bar.png);
}

#fdw-pricing-table .popular-plan .header {
    margin-top: -40px;
    padding-top: 60px;
}

#fdw-pricing-table .plan1 .header{
    border-bottom-color: red;
}

#fdw-pricing-table .plan2 .header{
    border-bottom-color: #7BD553;
}

#fdw-pricing-table .plan3 .header{
    border-bottom-color: #3AD5A0;
}

#fdw-pricing-table .plan4 .header{
    border-bottom-color: #45D0DA;
}

/* --------------- */

#fdw-pricing-table .price{
    font-size: 45px;
}

#fdw-pricing-table .monthly{
    font-size: 13px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #999;
}

/* --------------- */

#fdw-pricing-table ul {
    margin: 20px 0;
    padding: 0;
    list-style: none;

}

#fdw-pricing-table li {
    padding: 10px 0;
}

/* --------------- */

#fdw-pricing-table .signup {
    position: absolute;
    bottom: 20px;
    width: 98px;
    right: 50%;
    transform: translate(49px,0px);
    padding: 10px 20px;
    color: #fff;
    font: bold 14px Arial, Helvetica;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    background-color: #72ce3f;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.15);
    opacity: .9;
}

#fdw-pricing-table .signup:hover {
    opacity: 1;
}

#fdw-pricing-table .signup:active {
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.3) inset;
    box-shadow: 0 2px 2px rgba(0,0,0,.3) inset;
}

#fdw-pricing-table .plan1 .signup{
    background: red;
}

#fdw-pricing-table .plan2 .signup{
    background: #7BD553;
}

#fdw-pricing-table .plan3 .signup{
    background: #3AD5A0;
}

#fdw-pricing-table .plan4 .signup{
    background: #45D0DA;
}



.zebra {
    border: 1px solid #555;
    width: 100%;
    margin-tom:1em;
}

.zebra td {
    border-left: 1px solid #555;
    border-top: 1px solid #555;
    padding: 10px;
    text-align: left;
}

.zebra th, .zebra th:hover {
    border-left: 1px solid #555;
    border-bottom: 1px solid #828282;
    padding: 20px;
    background-color:#151515 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#151515), to(#404040)) !important;
    background-image: -webkit-linear-gradient(top, #151515, #404040) !important;
    background-image:    -moz-linear-gradient(top, #151515, #404040) !important;
    background-image:     -ms-linear-gradient(top, #151515, #404040) !important;
    background-image:      -o-linear-gradient(top, #151515, #404040) !important;
    background-image:         linear-gradient(top, #151515, #404040) !important;
    color:#fff !important;
    font-weight:normal;
}

.zebra tbody tr:nth-child(even) {
    background: #000 !important;
    color:#fff;
}

.zebra tr:hover *{
    background: #eeeeee;
    color:#000;
}

.zebra tr {
    background:#404040;
    color:#fff;
}

.zebra caption{
    font-size:20px;
    font-weight:normal;
    background-repeat:no-repeat;
    background-position: 130px center;
    padding-top: 20px;
    height:50px;}


.w3l-banner-grids {
    margin: 1em 0 0 0;
    padding: 2em 1em;
    background: rgba(255, 255, 255, 0.18);
}
.w3ls-banner-right {
    float: right;
}
.w3ls-banner-left {
    float: left;
}
.w3ls-banner-left-info {
    padding: 1em 0;
    border-bottom: 1px dashed #fff;
}
.w3ls-banner-left-info h4,.social-info h4{
    font-size: 1.2em;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.w3ls-banner-left-info p{
    font-size: .9em;
    margin: 1em 0 0 0;
    color: #cecece;
}
.w3ls-banner-left-info p a{
    font-size: .9em;
    margin: 1em 0 0 0;
    color: #cecece;
    text-decoration:none;
}
.w3ls-banner-left-info p a:hover{
    color:#FF9800;
}
.w3ls-banner-left-info:nth-child(5){
    border:none;
}
.banner-right-img{
    float: left;
    width: 30%;
}
.banner-right-img img{
    width: 100%;
    border: solid 8px #ffffff;
}
.banner-right-info{
    float: right;
    width: 65%;
}
.banner-right-info h2{
    color: #FFF;
    font-size: 1em;
    font-weight: 600;
    margin: 0;
    line-height: 1.5em;
}
.banner-right-info p{
    color:#FFF;
    font-size:.9em;
    margin:1em 0 0 0;
    line-height:1.8em;
}


.w3-button {
    margin: 3em 0 0 0;
}
.w3-button-info {
    line-height: inherit !important;
}
.w3-button a{
    padding: .5em 2em;
    color: #ffffff !important;
    text-transform: uppercase;
    background: #FF9800;
    font-weight: 700 !important;
    text-decoration: none !important;
    line-height: initial !important;
    font-size: .9em !important;
    margin: 0 !important;
}
.w3-button a:focus{
    outline:none;
}

.social-grids {
    margin: 2em 0 0 0;
}
.social-info{
    float:left;
    width:20%;
}
.social-info h4 {
    margin: .2em 0 0 0 !important;
}
.agileinfo-social-grids{
    float: left;
    margin:0;
}
.agileinfo-social-grids ul {
    padding: 0;
    margin: 0;
}
.agileinfo-social-grids ul li {
    display: inline-block;
    margin: 0 .5em 0 0;
}
.agileinfo-social-grids ul li a {
    color: #FFFFFF;
    text-align: center;
}
.agileinfo-social-grids ul li a i.fa.fa-facebook, .agileinfo-social-grids ul li a i.fa.fa-twitter, .agileinfo-social-grids ul li a i.fa.fa-rss, .agileinfo-social-grids ul li a i.fa.fa-vk {
    height: 30px;
    width: 30px;
    border: solid 2px #FFFFFF;
    line-height: 29px;
    background: none;
    color: #FFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileinfo-social-grids ul li a i.fa.fa-facebook:hover {
    border: solid 2px #3b5998;
    background:#3b5998;
    color: #FFF;
}
.agileinfo-social-grids ul li a i.fa.fa-twitter:hover{
    border: solid 2px #55acee;
    background:#55acee;
    color: #FFF;
}
.agileinfo-social-grids ul li a i.fa.fa-rss:hover{
    border: solid 2px #f26522;
    background:#f26522;
    color: #FFF;
}
.agileinfo-social-grids ul li a i.fa.fa-vk:hover{
    border: solid 2px #45668e;
    background:#45668e;
    color: #FFF;
}

.hvr-sweep-to-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
    color: #2f2f2f !important;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}



@media(max-width:1440px){
    #m_nav_menu {
        right: 140px!important;
    }
    .nav-tabs {
        width: 38%;
    }
}
@media(max-width:1366px){
    #m_nav_menu {
        right: 105px!important;
    }
}
@media(max-width:1280px){
    #m_nav_menu {
        right: 61px!important;
    }
    .nav-tabs {
        width: 43%;
    }
}
@media(max-width:1080px){
    .nav-tabs {
        width: 51%;
    }
    .m_nav_item a {
        font-weight: 600 !important;
    }
    #m_nav_container {
        text-align: center !important;
        box-shadow: 0 0 2px #000 !important;
    }
    #m_nav_list {
        margin: 0.5em 0 0 0 !important;
    }
    .nav-tabs {
        margin: 1em auto;
    }
}
@media(max-width:1024px){
    #m_nav_menu {
        right: 33px!important;
    }
    .nav-tabs {
        width: 54%;
    }
}
@media(max-width:991px){
    .w3ls-banner-left {
        width: 35%;
    }
    .w3ls-banner-right {
        width: 65%;
    }
    .banner-right-img {
        float: none;
        width: 35%;
    }
    .banner-right-info {
        float: none;
        width: 100%;
        margin: 1em 0 0 0;
    }
    .w3-button {
        margin: 1em 0 0 0;
    }
    .social-info {
        float: left;
        width: 30%;
    }
    #m_nav_menu {
        right: 120px!important;
    }
    .wthree-about-right {
        margin: 2em 0 0 0;
    }
    .statistics-grid2:before {
        left: -38px;
    }
    .statistics-grid2:after {
        right: -38px;
    }
    .experience-grid {
        border-right: none;
    }
    .experience-grid2 {
        border-bottom: solid 1px #999999 !important;
    }
    .m_nav_item a {
        font-size: 1em !important;
    }
    .feedback-grids {
        width: 100%;
    }
    .feedback-top:after {
        left: 10%;
    }
    .w3_tab_img_left {
        float: left;
        width: 25%;
    }
    .styled-input {
        width: 48%;
    }
}
@media(max-width:800px){
    #m_nav_menu {
        right: 31px!important;
    }
    .nav-tabs {
        width: 70%;
    }
}
@media(max-width:736px){
    #m_nav_menu {
        right: 16px!important;
    }
    .agile-statistics-grid {
        float: left;
        width: 33.33%;
    }
    .nav-tabs {
        width: 71%;
    }
    #m_nav_container {
        height: 230px !important;
    }
}
@media(max-width:667px){
    .social-info {
        width: 35%;
    }
    .nav-tabs > li {
        margin: 0 4px;
    }
    .w3_tab_img_left {
        width: 50%;
    }
}
@media(max-width:640px){
    .nav-tabs {
        width: 73%;
    }
}
@media(max-width:568px){
    .social-info {
        width: 40%;
    }
    .agile-statistics-grid p {
        font-size: .9em;
        letter-spacing: 0px;
    }
    .statistics-grid2:before {
        left: -28px;
        width: 32%;
    }
    .statistics-grid2:after {
        right: -28px;
        width: 32%;
    }
    .experience-grid {
        padding: 2em 0;
    }
    .nav-tabs {
        width: 84%;
    }
}
@media(max-width:480px){
    .banner-right-img {
        width: 45%;
    }
    .w3ls-banner-left {
        float: none;
        width: 100%;
        margin: 1em 0 0 0;
    }
    .w3ls-banner-right {
        width: 100%;
        float: none;
    }
    .banner-right-img {
        width: 36%;
        margin: 0 auto;
    }
    .w3l-banner-grids {
        margin: 2em 0 0 0;
    }
    .banner {
        padding: 1em 0 2em;
    }
    .about, .statistics, .experience, .feedback, .projects, .contact {
        padding: 2em 0;
    }
    .agile-statistics-grid {
        float: none;
        width: 100%;
    }
    .statistics-grid2 {
        position: relative;
        margin: 6em 0;
    }
    .statistics-grid2:before {
        left: 216px;
        width: 2px;
        height: 65px;
        top: -77px;
    }
    .statistics-grid2:after {
        right: 215px;
        width: 2px;
        height: 65px;
        top: 200px;
    }
    .nav-tabs > li > a {
        padding: 5px 8px;
    }
}
@media(max-width:414px){
    .wthree-about-left h3, .wthree-about-right h3, .w3-agileits-statistics-heading h3 {
        font-size: 1.5em;
    }
    .agile-statistics-grids {
        margin: 2em 0 0 0;
    }
    .statistics-grid2:before {
        left: 183px;
    }
    .statistics-grid2:after {
        right: 183px;
    }
    .w3-agile-experience-grids {
        margin: 0em 0 0 0;
    }
    .experience-grid {
        padding: 1em 0;
    }
    .nav-tabs {
        width: 95%;
    }
    .nav-tabs {
        margin: 1em auto 0;
    }
    .map-grid iframe {
        height: 200px;
    }
    .styled-input {
        width: 100%;
    }
    .styled-input {
        margin: 1em 0em;
    }
    .styled-input.agile-styled-input-top {
        margin-top: 1em;
    }
    .m_nav_ham {
        width: 25px !important;
        height: 2px !important;
    }
    .m_nav_ham_2_open {
        margin-top: -7px !important;
    }
    .m_nav_ham_1_open {
        margin-top: 11px !important;
    }
}
@media(max-width:384px){
    .statistics-grid2:before {
        left: 170px;
    }
    .statistics-grid2:after {
        right: 170px;
    }
    .nav-tabs > li > a {
        font-size: .87em;
    }
    .contact-form {
        margin: 2em 0 0 0;
    }
}
@media(max-width:375px){
    .statistics-grid2:before {
        left: 162px;
    }
    .nav-tabs > li {
        margin: 3px 4px;
    }
    .w3_tab_img_left {
        width: 100%;
        margin: 1em 0 0 0;
    }
}
@media(max-width:320px){
    .agile-logo {
        width: 50%;
    }
    .agile-logo h1 a {
        font-size: .3em;
    }
    .agile-logo h1 a span {
        font-size: 2.3em !important;
    }
    .banner-right-img {
        width: 60%;
    }
    .w3ls-banner-right {
        padding: 0;
    }
    .social-info {
        width: 100%;
        float: none;
        margin-bottom: 1em;
    }
    .agileinfo-social-grids {
        float: none;
        margin: 0;
        width: 100%;
    }
    .w3ls-banner-left {
        padding: 0;
    }
    .agile-statistics-grid i.fa.fa-desktop, .agile-statistics-grid i.fa.fa-user, .agile-statistics-grid i.fa.fa-trophy {
        width: 80px;
        height: 80px;
        padding: 1.2em 0 0 0;
    }
    .statistics-grid2:before {
        left: 135px;
    }
    .statistics-grid2:after {
        right: 135px;
        top: 181px;
    }
    .experience-grid-icon i.fa.fa-folder-open, .experience-grid-icon i.fa.fa-bell, .experience-grid-icon i.fa.fa-comments, .experience-grid-icon i.fa.fa-asterisk {
        width: 80px;
        height: 80px;
        padding: .7em 0 0 0;
    }
}

.black-background {
    background-color: #2A3542;
    background-size: cover;
    padding: 1em 0
}

.white-background{
    background-color: #EEE;
    background-size: cover;
    padding: 1em 0
}

.middle-black-background{
    background-color: #787878;
    background-size: cover;
    padding: 1em 0;
}

#class-time-table h1:before{
    width: 50%;
    height: 1px;
    vertical-align: middle;
    background-color: #000;
}

#class-time-table h1:after{
    width: 50%;
    height: 1px;
    vertical-align: middle;
    background-color: #000;
}
/* end --------------- */